@charset "utf-8";

/* common parts */
body {
    margin: 64px;
    background-color: #eee;
    font-family: 'M PLUS 1p', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Noto Serif JP', serif;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    margin: 0;
}

p {
    margin: 0;
}

button {
    user-select: none;
    padding: 8px 16px;
    font-size: 18px;
    font-weight: bold;
    background-color: white;
    color: black;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 16px;
    box-shadow: 0 5px black;
}

button:active {
    transform: translateY(5px);
    box-shadow: none;
    transition: transfrom .2s;
}

.drink-card {
    position: relative;
    width: 100%;
    margin-bottom: 32px;
}

.drink-card > button {
    width: 100%;
}

.drink-card > div {
    position: absolute;
    top: -10px;
    right: -10px;
    color: white;
    background-color: red;
    width: 28px;
    height: 28px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 50%;
    text-align: center;
    user-select: none;
}

.container {
    display: flex;
    justify-content: center;
}

.calc {
    background-color: white;
    width: 300px;
    height: 200px;
    text-align: center;
    margin-left: 32px;
    border: 1px solid black;
    box-shadow: 3px 3px 5px 0 rgb(66, 66, 66);
    border-radius: 24px;
}

.calc > h1 {
    border-bottom: 1px solid gray;
}

.calc > p {
    padding: 16px;
    font-size: 28px;
    font-weight: bold;
}



